<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amanda</title>
</head>

<style>

    body{
        background-color: beige;
    }

    .entrance{
        text-align: right;
        background-color: black;
        color: white;
        font-size: 5px;
        border-radius: 20px;
        border: 2px solid darkslategray;
        width: 100px;
        height: 35px;
    }

</style>

<body>

<div class="entrance">
    <h1 style="margin-right: 10px; position: fixed; left: 48px; top: 13px ">Olá, Amanda!</h1>
    <img src="/photos/amanda.jpeg" style="position: fixed; left: 14px; top: 12px; width: 30px; height: 30px; border-radius: 15px;">
</div>

<h1 style="font-size: 25px;text-align: center; position: fixed; left: 50%; top: 50%; transform: translate(-50%,-50%);">Ainda não temos nada aqui...</h1>

<script>
</script>

</body>
</html>